@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* * VARIABLES */

:root {
	--body-bg: #fff9f3;
	--color-primary: linear-gradient(
		150deg,
		rgba(255, 191, 73, 1) 30%,
		rgba(255, 181, 47, 1) 60%,
		rgba(239, 164, 27, 1) 100%
	);
	--color-secondary: #fff8f0;
	--color-accent: hsl(28, 75%, 33%);
	--color-accent-raw: 28, 75%, 33%;
}

/* * LAYOUT */
body {
	background-color: var(--body-bg);

	color: var(--color-secondary);
	font-size: 2rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

.calculator {
	margin: 0 auto;
	margin-top: max(2rem, 5%);
	max-width: min(80%, 400px);
	background-image: var(--color-primary);
	aspect-ratio: 1/1.55;
	border-radius: 1rem;
	box-shadow: 4px 10px 15px 0px rgba(0, 0, 0, 0.3);
	user-select: none;
}

.calculator-content {
	padding: 10% 10%;
	display: grid;
	grid-template-rows: 2fr 5fr;
}

.flex-end-flow {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.button {
	display: grid;
	place-items: center;
	aspect-ratio: 1;
}

/* * COLORS */

.accent {
	color: var(--color-accent);
}

/* * CALCULATIONS */

.display {
	border-bottom: 2px solid var(--color-accent);
	overflow: hidden;
}

.calculation {
	font-size: 1rem;
	font-weight: 500;
	text-align: right;
	max-width: 35ch;
	max-height: 3em;
	overflow: hidden;
}

.input {
	font-size: 4rem;
	height: 5.5rem;
	max-width: 8ch;
}

/* * BUTTONS */

.button {
	cursor: pointer;
}

.button[data-button="="] > div {
	color: var(--color-secondary);
	width: 65%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: var(--color-accent);
	display: grid;
	place-items: center;
	box-shadow: 3px 5px 10px 3px hsla(var(--color-accent-raw), 0.5);
}

/* .button[data-button="backspace"] {
} */

.button:hover,
.button:active {
	filter: brightness(50%);
}

.button[data-button="Backspace"] svg {
	fill: var(--color-accent);
}
